
Project_PRN231/.vs/**
Project_PRN231/EStoreAPI/obj/**
Project_PRN231/EStoreAPI/bin/Debug/net6.0/XLParser.dll
*.cache

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
